// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  max-width: 500px;
  margin: auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 200px;
}










/*******  DEBUG STYLES  **********

* { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }

/********************************/