// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$red : #CC0000;
$white: #FFFFFF;
$off-white: #fef7e2;
$reddish-black: #591100;
$red-gray: #635000;


body {
  max-width: 500px;
  margin: auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 200px;
}

input{
  border: 1px solid darkgray;
  padding: 5px;
}

input[type=text]{
  background-color: $off-white;
}

input[name='appt_time'] {
  background-color: whitesmoke;
}

.submit-button {
  background-color: $red;
  color: $off-white;
  cursor: pointer;
  border: 2px solid $red-gray;
  border-radius: 5px;
  box-shadow: none;
  font-size: 20px;
  padding: 10px;
}

.appointment {
  padding-top: 3px;
  border-bottom: solid 1px $red-gray;
}


/*******  DEBUG STYLES  **********

* { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }

/********************************/